// imports
@font-face {
  font-family: "Melinda";
  src: url("../../assets/font/MelindaScript.otf") format("opentype");
  font-style: normal;
}

// brand fonts
@font-family_primary: "Melinda", "Segoe Script", sans-serif;
@font-family_secondary: 'GFS Didot', serif;
