html,
body {
  color: #333;
  font-family: @font-family_secondary;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#app,
.app {
  height: 100%;
}

@primary-color: #636363;
@menu-toggle-bar-stroke: 2px;
@menu-toggle-height: 20px;
@menu-toggle-width: 30px;

/* TYPOGRAPHY */
h1, h2 {
  font-family: @font-family_primary;
}

h1 {
  font-size: 44px;
  @media (min-width: @screen-sm-min) {
    font-size: 44px;
  }
}

h2 {
  color: @brand-red;
  font-size: 35px;
  margin-bottom: 30px;

  @media (min-width: @screen-sm-min) {
    font-size: 44px;
  }
}

h3 {
  font-size: 28px;
  margin-bottom: 25px;
}

a {
  color: @brand-red;
  transition: color .2s ease;

  &:hover {
    color: @brand-green;
    text-decoration: none;
  }
}

/* HEADER */
.site-header {
  background: @white;
  border-bottom: 1px solid @brand-red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: all .5s ease;

  @media (min-width: @screen-sm-min) {
    background: transparent;
    border-bottom: 1px solid transparent;
  }

  .navbar {
    .navbar-brand {
      font-size: 22px;
      overflow: hidden;
      transition: all .5s ease;
      width: auto;

      @media (min-width: @screen-sm-min) {
        height: 65px;
        font-size: 40px;
        width:  100%;
      }
    }

    .navbar-toggler {
      border-color: transparent;
      outline: none !important;

      &:focus {
        border-color: transparent;
      }

      &:not(.collapsed) {
        .menu-toggle {
          .icon-bar {
            background-color: transparent;

            &:before {
              transform: rotate3d(0,0,1,45deg);
              transform-origin: 50% 50%;
              top: @menu-toggle-height / 2;
            }

            &:after {
              bottom: @menu-toggle-height / 2 - @menu-toggle-bar-stroke;
              transform: rotate3d(0,0,1,-45deg);
              transform-origin: 50% 50%;
            }
          }
        }
      }

      .menu-toggle {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: @menu-toggle-height;
        position: relative;
        width: @menu-toggle-width;

        .icon-bar {
          background-color: @primary-color;
          border-radius: 5px;
          display: block;
          height: @menu-toggle-bar-stroke;
          transition: background-color .2s ease;
          width: @menu-toggle-width;

          &::before,
          &::after {
            background-color: @primary-color;
            border-radius: 5px;
            content: '';
            display: block;
            height: @menu-toggle-bar-stroke;
            position: absolute;
            left: 0;
            width: @menu-toggle-width;

            transform-origin: 50% 50%;
            -webkit-transform-origin: 50% 50%;
            -webkit-transition-property: margin, -webkit-transform;
            -webkit-transition-duration: .2s;
            -webkit-transition-delay: .2s;
            transition: top .2s ease, bottom .2s ease;
          }

          &:before {
            top: 0;
          }

          &:after {
            bottom: 0;
          }
        }
      }
    }
  }

  &.active {
    background: @white;
    border-bottom: 1px solid @brand-red;

    @media (min-width: @screen-sm-min) {
      .navbar-brand {
        height: 0;
        padding: 0;
      }
    }
  }
}

/* NAVIGATION */
.navbar {
  flex-flow: row wrap;

  .navbar-brand {
    color: @brand-red;
    display: block;
    font-family: @font-family_primary;
    font-size: 40px;
    text-align: center;
    width: 100%;
  }

  .navbar-nav {
    color: @grey-light;
    font-size: 18px;
    text-transform: uppercase;

    .nav-link {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

/* SECTIONS */
.section {
  overflow: hidden;
  padding: 60px 0;
  position: relative;

  @media (min-width: @screen-sm-min) {
    padding: 100px 0;
  }

  &.section-blue {
    background-color: @brand-blue;
    color: @white;

    h2 {
      color: @white;
    }
  }

  &.section-red {
    background-color: @brand-red;
    color: @white;

    h2 {
      color: @white;
    }
  }

  &.section-green {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../../assets/img/hawaii-bw.jpg');
    color: @white;

    .container {
      position: relative;
    }
    h2 {
      color: @white;
      z-index: 1;
    }
  }

  &.section-grey {
    background-color: #f2f2f2;
  }

  h2 {
    text-align: center;
  }
}

.overlay-green {
  display: block;
  width: 100%;
  height: 100%;
  background-color: @brand-green;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-leaves {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../../assets/img/pattern/leaves-right_1.svg'),url('../../assets/img/pattern/leaves-left_1.svg');
  background-position: 120% -35%, -20% 125%;
  background-repeat: no-repeat, no-repeat;
  background-size: 50% auto,50% auto;
  background-attachment: scroll,scroll;
  opacity: .1;
  position: absolute;
  top: 0;
  left: 0;
}

/* OUR STORY */
.story-container {
  border-bottom: 1px solid #d1d1d1;
  overflow: visible;
  padding: 30px 15px;

  @media (min-width: @screen-md-min) {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 45px 15px;
  }

  @media (min-width: @screen-lg-min) {
    padding: 45px 15px;
  }

  &:last-of-type {
    border: none;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;

    .story-panel {
      @media (min-width: @screen-md-min) {
        padding-left: 0;
        padding-right: 60px;
      }
    }

    .image-panel {
      .image-block {
        &::before {
          border: 2px solid @brand-red;
          z-index: -1;
        }

        &::after {
          border: 2px solid @brand-red-light;
          z-index: -1;
        }
      }
    }
  }

  .story-panel {
    width: 100%;

    @media (min-width: @screen-md-min) {
      padding-left: 60px;
    }
  }

  .image-panel {
    text-align: center;
    z-index: 1;

    .image-block {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      display: inline-block;
      height: 275px;
      margin-bottom: 30px;
      position: relative;
      width: 275px;

      @media (min-width: @screen-md-min) {
        margin-bottom: 0;
      }

      &::before,
      &::after {
        border-radius: 50%;
        content: '';
        display: block;
        height: 101%;
        position: absolute;
        width: 101%;
      }

      &::before {
        border: 2px solid @brand-blue;
        z-index: -1;

        //animation: spin 15s infinite linear;
        //@keyframes spin {
        //  100% { transform: rotate(360deg); }
        //}
        top: -5px;
        left: -5px;
        transform-origin: 48% 50%;
      }

      &::after {
        border: 2px solid @brand-green;
        z-index: -1;
        bottom: -5px;
        right: -5px;

        //animation: spin2 20s infinite linear;
        //@keyframes spin2 {
        //  0% { transform: rotate(120deg);}
        //  100% { transform: rotate(480deg); }
        //}
        transform-origin: 50% 48%;
      }
    }
  }
}

/* EVENTS */
.section-events {
  .events-container {
    position: relative;
    z-index: 1;

    @media (min-width: @screen-sm-min) {
      display: flex;
    }
  }

  .story-container {
    border: none;
    display: block;
    padding-bottom: 15px;
    text-align: left;
    z-index: 1;
    width: 100%;

    @media (min-width: @screen-sm-min) {
      padding-bottom: 30px;
      width: 50%;
    }

    .image-block {
      border-radius: 0;
      margin-bottom: 20px;
      height: 200px;
      width: 100%;

      @media (min-width: @screen-sm-min) {
        height: 275px;
      }

      &::after,
      &::before {
        animation: none;
        border-radius: 0;
      }

      &::after {
        top: -7px;
        left: -7px;
      }

      &::before {
        left: auto;
        top: 5px;
        right: -7px;
      }
    }

    .story-panel {
      width: auto;
      padding: 0;

      h3 {
        margin-bottom: 20px;
      }
    }
  }
}

/* WEDDING PARTY */
.section-wedding-party {
  background: #f5f5f5;

  .container {
    max-width: 1000px;
  }
}

.selected-container {
  display: none;

  @media (min-width: @screen-sm-min) {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .selected {
    margin: 30px 0;
    text-align: center;
  };

  .selected-content {
    display: inline-block;
    position: relative;
    width: 300px;

    h4 {
      margin-bottom: 2px;
    }

    h5 {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .back,
    .front {
      z-index: 1;
      top: 0;
      right: 0;

      &.active {
        z-index: 2;
        animation: test .5s ease forwards;
      }

      &.hidden {
        animation: test2 .5s ease forwards;
      }
    }

    .front {
      position: relative;
    }

    .back {
      position: absolute;
    }
  }

  .image-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid @white;
    border-radius: 50%;
    display: inline-block;
    height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    width: 300px;

    &::after {
      border-radius: 50%;
      display: block;
      content: '';
      width: 314px;
      height: 314px;
      border: 1px solid @brand-green-light;
      position: absolute;
      top: -9px;
      left: -9px;
    }
  }
}

.party-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;

  > div {
    flex-basis: 100%;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      flex-basis: 14%;
    }
  }

  a {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    width: 100%;

    @media (min-width: @screen-sm-min) {
      width: auto;
    }
  }

  .image-block-container {
    margin-bottom: 10px;

    h4 {
      margin-bottom: 2px;
    }

    h5 {
      font-size: 18px;
    }

    @media (min-width: @screen-sm-min) {
      margin-bottom: 0;

      h4, h5 {
        display: none;
      }

      &.top {
        text-align: left;
      }

      &.bottom {
        text-align: right;
      }
    }
  }

  .image-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid @white;
    border-radius: 50%;
    display: inline-block;
    height: 230px;
    position: relative;
    width: 230px;
    max-width: 100%;

    @media (min-width: @screen-sm-min) {
      height: 75px;
      width: 75px;
    }

    &::after {
      @media (min-width: @screen-sm-min) {
        background-color: @white;
      }

      border-radius: 50%;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .5;
      width: 100%;
      transition: all .3s ease;
    }

    &.active {
      &::after {
        opacity: 0;
      }

      &.bride {
        &::after {
          background-color: @brand-red;
        }
      }

      &.groom {
        &::after {
          background-color: @brand-green;
        }
      }
    }
  }
}

/* BTN */
.btn {
  &.btn-outline-primary {
    border-color: @brand-red !important;
    border-radius: 0;
    box-shadow: none !important;
    color: @brand-red !important;

    &:hover,
    &:active {
      background-color: @brand-red-light !important;
    }
  }

  &.btn-outline-white {
    border-color: @white !important;
    border-radius: 0;
    box-shadow: none !important;
    color: @white !important;

    &:hover,
    &:active {
      background-color: rgba(@white, .4) !important;
    }
  }
}

/* PHOTOS */
.btn-container {
  margin-bottom: 10px;
  text-align: center;

  .btn {
    margin: 0 10px 10px;
  }
}

.section-photos {
  p {
    color: #636363;
    font-size: 18px;
  }
  strong {
    color: @brand-red;
  }
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 5%;

  @media (min-width: @screen-sm-min) {
    padding: 0 .5%;
  }


  .image-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 30vw;
    margin: .25%;
    position: relative;
    width: 100%;
    max-width: 49.5%;

    @media (min-width: @screen-sm-min) {
      height: 19vw;
      max-width: 24.5%;
    }

    @media (min-width: @screen-md-min) {
      height: 15vw;
      max-width: 19.5%;
    }

    &:hover {
      &::after {
        opacity: .5;
      }
    }

    &::after {
      background-color: @brand-red-light;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      transition: opacity .3s ease;
      top: 0;
      left: 0;
    }
  }

  h3 {
    text-align: center;
    width: 100%;
  }
}

/* REGISTRY */
.registry-link-container {
  margin-top: 40px;

  @media (min-width: @screen-sm-min) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .registry-link {
    display: block;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      width: 50%;
    }

    a {
      display: inline-block;
    }

    .target {
      width: 220px;
    }

    .go-fund-me {
      width: 400px;
    }
  }
}

/* FOOTER */
.site-footer {
  border-top: 1px solid #efefef;
  color: #6e6e6e;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

@keyframes test {
  0% { right: -20px; opacity: 0 }
  100% { right: 0; opacity: 1 }
}

@keyframes test2 {
  0% { right: 0; opacity: 1 }
  100% { right: 20px; opacity: 0 }
}