html,
body {
  color: #333;
  font-family: @font-family_secondary;
  font-size: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#app,
.app {
  height: 100%;
}

/* TYPOGRAPHY */
h1, h2 {
  font-family: @font-family_primary
}

h1 {
  font-size: 44px;
}

h2 {
  color: @brand-red;
  font-size: 44px;
  margin-bottom: 30px;
}

h3 {
  font-size: 28px;
  margin-bottom: 25px;
}

/* HEADER */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: all .5s ease;

  .navbar-brand {
    overflow: hidden;
    height: 65px;
    transition: all .5s ease;
  }

  &.active {
    background: @white;
    border-bottom: 1px solid @brand-red;

    .navbar-brand {
      height: 0;
      padding: 0;
    }
  }
}

/* NAVIGATION */
.navbar {
  flex-flow: row wrap;

  .navbar-brand {
    color: @brand-red;
    display: block;
    font-family: @font-family_primary;
    font-size: 40px;
    text-align: center;
    width: 100%;
  }

  .navbar-nav {
    color: @grey-light;
    font-size: 18px;
    text-transform: uppercase;

    .nav-link {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

/* SECTIONS */
.section {
  overflow: hidden;
  padding: 100px 0;
  position: relative;

  &.section-blue {
    background-color: @brand-blue;
    color: @white;

    h2 {
      color: @white;
    }
  }

  &.section-green {
    background-color: @brand-green;
    color: @white;

    h2 {
      color: @white;
    }
  }

  &.section-grey {
    background-color: #f2f2f2;
  }

  h2 {
    text-align: center;
  }
}

.test-pattern {
  display: block;
  width: 100%;
  height: 100%;
  //background-image: url('../../assets/img/pattern/test.svg');
  //background-size: 50px;
  opacity: .1;
  position: absolute;
  top: 0;
  left: 0;
}

/* OUR STORY */
.story-container {
  border-bottom: 1px solid #d1d1d1;
  overflow: visible;
  padding: 45px 30px;

  @media (min-width: @screen-sm-min) {
    align-items: center;
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: @screen-lg-min) {
    padding: 45px 60px;
    width:  90%;
  }

  &:last-of-type {
    border: none;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;

    .story-panel {
      @media (min-width: @screen-sm-min) {
        padding-left: 0;
        padding-right: 60px;
      }
    }

    .image-panel {
      .image-block {
        &::before {
          border: 2px solid @brand-red;
          z-index: -1;
        }

        &::after {
          border: 2px solid @brand-red-light;
          z-index: -1;
        }
      }
    }
  }

  .story-panel {
    width: 100%;

    @media (min-width: @screen-sm-min) {
      padding-left: 60px;
    }
  }

  .image-panel {
    text-align: center;

    .image-block {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      display: inline-block;
      height: 275px;
      margin-bottom: 30px;
      position: relative;
      width: 275px;

      @media (min-width: @screen-sm-min) {
        margin-bottom: 0;
      }

      &::before,
      &::after {
        border-radius: 50%;
        content: '';
        display: block;
        height: 101%;
        position: absolute;
        width: 101%;
      }

      &::before {
        border: 2px solid @brand-blue;
        z-index: -1;

        animation: spin 20s infinite linear;
        @keyframes spin {
          100% { transform: rotate(360deg); }
        }
        transform-origin: 48% 50%;
      }

      &::after {
        border: 2px solid @brand-green;
        z-index: -1;

        animation: spin2 25s infinite linear;
        @keyframes spin2 {
          0% { transform: rotate(120deg);}
          100% { transform: rotate(480deg); }
        }
        transform-origin: 50% 48%;
      }
    }
  }
}

/* WEDDING PARTY */
.section-wedding-party {
  background: #f5f5f5;
  //border-bottom: 1px solid @grey-light;
  //border-top: 1px solid @grey-light;

  .container {
    max-width: 1000px;
  }
}
.selected-container {
  @media (min-width: @screen-sm-min) {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .selected {
    margin: 30px 0;
    text-align: center;
  };

  .selected-content {
    display: inline-block;
    position: relative;
    width: 300px;

    .back,
    .front {
      z-index: 1;
      top: 0;
      right: 0;

      &.active {
        z-index: 2;
        animation: test .5s ease forwards;
      }

      &.hidden {
        animation: test2 .5s ease forwards;
      }
    }

    .front {
      position: relative;
    }

    .back {
      position: absolute;
    }
  }

  .image-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid @white;
    border-radius: 50%;
    display: inline-block;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    width: 300px;

    &::after {
      border-radius: 50%;
      display: block;
      content: '';
      width: 314px;
      height: 314px;
      border: 1px solid @brand-green-light;
      position: absolute;
      top: -9px;
      left: -9px;
    }
  }
}

.party-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;

  > div {
    flex-basis: 14%;
    text-align: center;
  }

  a {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
  }

  .image-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid @brand-green-light;
    border-radius: 50%;
    display: inline-block;
    height: 75px;
    position: relative;
    width: 75px;

    &::after {
      background-color: @brand-green-light;
      border-radius: 50%;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .5;
      width: 100%;
      transition: all .3s ease;
    }

    &.active {
      &::after {
        opacity: 0;
      }

      &.bride {
        &::after {
          background-color: @brand-red;
        }
      }

      &.groom {
        &::after {
          background-color: @brand-green;
        }
      }
    }
  }
}

/* BTN */
.btn {
  &.btn-outline-primary {
    border-color: @brand-red !important;
    border-radius: 0;
    box-shadow: none !important;
    color: @brand-red !important;

    &:hover,
    &:active {
      background-color: @brand-red-light !important;
    }
  }
}

/* PHOTOS */
.btn-container {
  margin-bottom: 30px;
  text-align: center;

  .btn {
    margin: 0 10px;
  }
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 .5%;

  .image-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    min-height: 250px;
    margin: .25%;
    position: relative;
    width: 100%;
    max-width: 24.5%;

    &:hover {
      &::after {
        opacity: .5;
      }
    }

    &::after {
      background-color: @brand-red-light;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      transition: opacity .3s ease;
      top: 0;
      left: 0;
    }
  }
}

/* FOOTER */
.site-footer {
  border-top: 1px solid #efefef;
  padding: 20px;
}

@keyframes test {
  0% { right: -20px; opacity: 0 }
  100% { right: 0; opacity: 1 }
}

@keyframes test2 {
  0% { right: 0; opacity: 1 }
  100% { right: 20px; opacity: 0 }
}