.hero {
  &-main {
    background-image: url('/src/assets/img/main-bg.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin: 0;
    height: 70%;
  }
}