.hero {
  &-main {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin: 0;
    height: 85%;

    h1 {
      color: @white;
      display: none;
      font-size: 40px;
      position: absolute;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.85);
      width: 100%;
      text-align: center;
      top: 40%;

      @media (min-width: @screen-sm-min) {
        font-size: 55px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.85);
      }
    }
  }
}